<style>
   table.minimalistBlack {
  border: 1px solid #D1D1D1 !important;
  width: 100% !important;
  text-align: left !important;
  border-collapse: collapse !important;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #D3D3D3 !important;
  padding: 5px 4px !important;
}
table.minimalistBlack tbody td {
  font-size: 11px !important;
}
table.minimalistBlack thead {
  background: #E7E7E7 !important;
  border-bottom: 1px solid #000000 !important;
}
table.minimalistBlack thead th {
  font-size: 11px !important;
  font-weight: bold !important;
  color: #000000 !important;
  text-align: left !important;
  border-left: 1px solid #D0E4F5 !important;
}
table.minimalistBlack thead th:first-child {
  border-left: none !important;
}

table.minimalistBlack tfoot td {
  font-size: 11px !important;
}
</style>

<table class="minimalistBlack">
    {% for sc in sc_list %}
<thead>
<tr>
   <th><p style="font-size:9px">{{sc.item_name}}</p></th>
<th style="font-size:9px">{{sc.name}}</th>
<th style="font-size:9px">{{sc.oem_text}}</th>
</tr>
</thead>
<tbody>
<tr>
<td>  {% if sc.image %}
          <div class="value">   <img src="{{sc.image}}"></div>
         {% endif %}</td>
<td>{{sc.nom_generique_long}}</td>
<td>cell3_1</td>
</tr> 
</tbody>
   {% endfor %} 
</table>
