<style>
   p {
      font-size:11px;
   }
   strong {
      font-size:11px;
      font-weight:500;
   }
   table.minimalistBlack {
  border: 1px solid #D1D1D1 !important;
  width: 100% !important;
  text-align: left !important;
  border-collapse: collapse !important;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #D3D3D3 !important;
  padding: 5px 4px !important;
}
table.minimalistBlack tbody td {
  font-size: 11px !important;
}
table.minimalistBlack thead {
  background: #E7E7E7 !important;
  border-bottom: 1px solid #000000 !important;
}
table.minimalistBlack thead th {
  font-size: 11px !important;
  font-weight: bold !important;
  color: #000000 !important;
  text-align: left !important;
  border-left: 1px solid #D0E4F5 !important;
}
table.minimalistBlack thead th:first-child {
  border-left: none !important;
}

table.minimalistBlack tfoot td {
  font-size: 11px !important;
}
   table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
</style>
 {% for sc in data %}
<div style="  page-break-inside: avoid !important;">
<div style="background-color: #DBF7FB;padding:5mm;margin-top:10mm">
<p style=" font-weight:600">Référence Modèle : {{ data[sc]["model"].name }}</p>
<p style="font-size:15px;font-weight:600"> {{ data[sc]["model"].item_name }}</p>
</div>
<table class="minimalistBlack"> 
    <thead> 
       <tr><th>Véhicules</th></tr>
   <tr>
   <th style="font-size:9px">Marque </th>
   <th style="font-size:9px">Modele </th>
   <th style="font-size:9px">Version</th>
   </tr>
     </thead> 
      <tbody>
   
   {% for v in data[sc]["model"].versions %}
      {% if v.important or data[sc]["versions_all"] == 0   %}
      <tr>
          <td> {{v.nom_marque or ''}}  </td>
         <td> {{v.modele_vehicule or ''}}   </td>
        
         <td>  {{v.nom_version or ''}} </td>
      </tr> 
   
   {% endif %}
   {% endfor %} 
          {% for g in data[sc]["model"].generation_vehicule_supporte %}
      {% if g.important or data[sc]["gen_all"] == 0   %}
      <tr>
          <td>---  </td>
         <td> {{g.nom_generation or ''}}   </td> 
         <td>  --- </td>
      </tr> 
   
   {% endif %}
   {% endfor %} 
   </tbody>
   </table>
</div>


<table class="minimalistBlack"> 
     <thead>  <tr><th>éférence OEM</th></tr></thead> 

      <tbody>
       

   {% for o in data[sc]["model"].oem %}
      {% if o.important or data[sc]["oem_all"]  == 0 %}
   <tr>
          <td> {{o.oem or ''}}  </td>
   </tr> 
   
   {% endif %}
   {% endfor %} 
   </tbody>
   </table>


<table class="minimalistBlack"> 
   <thead>  <tr><th>Critéres</th></tr></thead> 
      <tbody>
   {% for c in data[sc]["model"].critere_piece %}
      {% if c.important or data[sc]["critere_piece_all"]  == 0 %}
   <tr>
          <td> {{c.parametre or ''}}  </td>
          <td> {{c.valeur_p or ''}}  </td>
          <td> {{c.valeur or ''}}  </td>
          <td> {{c.titre or ''}}  </td>
   </tr> 
   
   {% endif %}
   {% endfor %} 
   </tbody>
   </table>


<table class="minimalistBlack"> 
     <thead> 
         <tr><th>Fabricants</th></tr>

   <tr>
   <th style="font-size:9px">Fabricant </th>
   <th style="font-size:9px">Photo </th>
   <th style="font-size:9px">Référence</th>
   <th style="font-size:9px">Prix de vente</th>
   </tr>
     </thead> 
      <tbody>

   {% for variant in data[sc]["variants"] %}
     
   <tr>
          <td> {{variant.manufacturer or ''}}  </td>
          <td>    {% if variant.image %}
                  <div class="value">   
                  <img src="http://192.168.100.20{{variant.image}}" width="68mm"></div>
                  {% endif %} 
          </td>
          <td> {{variant.manufacturer_part_no or ''}} </td>
          <td> NA  </td>
   </tr> 
    
   {% endfor %} 
   </tbody>
   </table>

 {% endfor %} 

<br>
<hr>
