<style>
   p {
      font-size:11px;
   }
   table.minimalistBlack {
  border: 1px solid #D1D1D1 !important;
  width: 100% !important;
  text-align: left !important;
  border-collapse: collapse !important;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #D3D3D3 !important;
  padding: 5px 4px !important;
}
table.minimalistBlack tbody td {
  font-size: 11px !important;
}
table.minimalistBlack thead {
  background: #E7E7E7 !important;
  border-bottom: 1px solid #000000 !important;
}
table.minimalistBlack thead th {
  font-size: 11px !important;
  font-weight: bold !important;
  color: #000000 !important;
  text-align: left !important;
  border-left: 1px solid #D0E4F5 !important;
}
table.minimalistBlack thead th:first-child {
  border-left: none !important;
}

table.minimalistBlack tfoot td {
  font-size: 11px !important;
}
   table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
</style>
 {% for sc in data %}

<p>Référence Modèle : {{ data[sc]["model"].name }}</p><br>
<p>Article : {{ data[sc]["model"].item_name }}</p><br>

<table class="minimalistBlack"> 
    <thead> 
   <tr>
   <th style="font-size:9px">Marque </th>
   <th style="font-size:9px">Modele </th>
   <th style="font-size:9px">Génération</th>
   <th style="font-size:9px">Version</th>
   </tr>
     </thead> 
      <tbody>

   {% for v in data[sc]["model"].versions %}
      {% if v.important %}
   <tr>
          <td> {{v.marque_vehicule or ''}}  </td>
         <td> {{v.modele_vehicule or ''}}   </td>
         <td> {{v.generation_vehicule or ''}} </td>
         <td>  {{v.nom_version or ''}} </td>
   </tr> 
   
   {% endif %}
   {% endfor %} 
   </tbody>
   </table>



 {% endfor %} 
